<!DOCTYPE html>
    <head>
    </head>
        <link rel="stylesheet" href="/stylesheets/layout.css">
    <body>
    <div class="wrapper">
        <header>
            <h1>Create a new list</h1>     
        </header>
  
            <form action="/lists" method="POST">
                <p><h3>List name:</h3> <input type="text" name="list[name]"></p>
                <p><h3>Things: </h3> </p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>

                <p><h3>Choose from existing categories or create a new one: </h3></p>
            <div class="content">
                <p><% @user.categories.uniq.each do |category| %>
                <li><input type="checkbox" id="<%= category.id %>" value="<%= category.id %>" name="list[category_ids][]"><%= category.name %></li>
                <% end %>
                <p><h3><input type="text" name="category[name]"></h3>
            </div>
                <p><input type="submit" value="Create List"></p>
            </form>

            <footer>
                <a href="/" class="button">Home</a>
                <a href="/logout" class="button">Log Out</a>
            </footer>
        </div>
    </body>
</html>