<!DOCTYPE html>
    <head>
    </head>
        <link rel="stylesheet" href="/stylesheets/layout.css">
    <body>
    <div class="wrapper">
        <header>
            <h1>Create a new list</h1>     
        </header>
  
            <form action="/lists" method="POST">
                <p><h2>List name:</h2> <input type="text" name="list[name]"></p>
                <p><h2>Things to do: </h2> </p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>

                <p><h2>Choose from existing categories or create a new one: </h2</p>
                <p><% @user.categories.uniq.each do |category| %>
                <li><input type="checkbox" id="<%= category.id %>" value="<%= category.id %>" name="list[category_ids][]"><%= category.name %></li>
                <% end %>
                <p><h2><input type="text" name="category[name]"></h2>
                <p><input type="submit" value="Create List"></p>
            </form>

            <footer>
                <a href="/">Home</a>
                <a href="/logout">Log Out</a>
            </footer>
        </div>
    </body>
</html>