<!DOCTYPE html> 
    <head>
    </head>

    <body>
        <h1>Hi, <%= @user.username %>.</h1>
        <p>Are you sure you want to delete your account?</p>
        <p><a href="/delete"><button type="button">Yes</button></a></p>
        <p><a href="/"><button type="button">No</button></a></p>

    </body>
</html>