<!DOCTYPE html>
    <head>
    </head>

    <body>
        <div>
            <header>Log in</header>
            <form action="/login" method="POST">
            <p>Username: <input type="text" name="username"></p>
            <p>Password: <input type="text" name="password"></p>
            <input type="submit" value="Log in">
            </form>
        </div>
    </body>
</html> 