<!DOCTYPE html>
    <head>
    </head>

    <body>
        <div>
            <header>Sign up </header>
            <form action="/signup" method="POST">
            <p>Username: <input type="text" name="user[username]"></p>
            <p>Email: <input type="text" name="user[email]"></p>
            <p>Password: <input type="text" name="user[password]"></p>
            <input type="submit" value="Sign Up">
            </form>
        </div>
    </body>
</html> 