<!DOCTYPE html> 
    <head>
        <link rel="stylesheet" href="/stylesheets/layout.css">
    </head>

    <body>
    <div class="wrapper">
        <header> 
            <h1><%= @user.username %>'s categories </h1>
        </header>

        <div class="content">
                <% @user.categories.uniq.each do |category| %>
            <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
                <% end %>
        </div>
        <br>
        <br>
        <footer>
            <a href="/" class="button">Home</a>
            <a href="/logout" class="button">Log Out</a>
        </footer>

    </div>
    </body>
</html>