<!DOCTYPE html>
    <head> 
        <link rel="stylesheet" href="/stylesheets/layout.css">
    </head>

    <body>
    <div class="wrapper">
        <header>
            <h3> <%= @category.name %> </h3>
        </header>
        <div class="content">
            <ol>
                <% @user.lists.sort.each do |list| %>
                    <% if list.categories.include?(@category)%>
                <li>
                    <a href="/lists/<%= list.id %>"><%= list.name %></a>
                </li>
                    <% end %>
                <% end %>
            </ol>
        </div>
        <br>
        <br>
        <footer>
            <a href="/" class="button">Home</a>
            <a href="/logout" class="button">Log Out</a>
        </footer>
    </div>
    </body>
</html>
