<!DOCTYPE html>
    <head> 
    </head>

    <body>
        <header>
            <h3> <%= @category.name %> </h3>
            <% @category.lists.uniq.each do |list| %>
            <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>
            <% end %>
        </header>



        <p><a href="/">Home</p>
        <p><a href="/logout">Log Out</a>


    </body>
</html>