<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/stylesheets/layout.css">
    </head>
    <body>
        <div class="wrapper">
       
            <header>
                <h1>Welcome to List It!</h1>
            </header>
       
       
            <footer> 
                <a href="/signup" class="button">Sign Up</a>
                <a href="/login" class="button">Log In</a>
            </footer>
        </div>
    </body>
</html>