<!DOCTYPE html>
    <head>
    </head>
    <body>
        <div>
            <h1>Welcome to List It!</h1>

            <p><a href="/login">Log In</a>
            <p><a href="/signup">Sign Up</p>

        </div>
    </body>
</html>